.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:10px !important}

* {
    font-family: 'Lexend Deca', sans-serif;
    
  }
  body {
}
  
  
  .grad1 {
    background: linear-gradient(to left, rgba(255, 187, 0, 0.911), rgb(255, 27, 27));
    border-radius: 2%;
    text-shadow:
    -.02em -.02em 0 rgba(0, 0, 0, 0),
    .02em -.02em 0 rgba(0, 0, 0, 0),
    -.02em .02em 0 #2E2E2E,
    .002em .003em 0 rgba(0, 0, 0, 0.082);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text {

    color:rgb(73, 237, 243) !important;
}
.text:hover { 
    color: rgb(0, 250, 175) !important; 
}

  .grad2 {
    background: linear-gradient(to left, rgba(0, 183, 255, 0.911), rgb(27, 255, 84));
    border-radius: 2%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad25 {
    background: linear-gradient(to left, rgba(0, 183, 255, 0.911), rgb(27, 255, 84));
    border-radius: 2%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: linear-gradient(to left, rgba(0, 183, 255, 0.911), rgb(27, 255, 84));
}
.grad3 {
    background: linear-gradient(to left, rgba(183, 0, 255, 0.911), rgb(245, 180, 0));
    border-radius: 40%;
    font-size:4em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.grad4 {
    background: linear-gradient(to left, rgb(255, 89, 153), rgb(68, 0, 255));
    border-radius: 40%;
    font-size:4em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card-img-top {
    overflow: hidden !important;

}
.link {
    display:inline-block;
    color: aquamarine;
}
.link:hover {
    display:inline-block;
    transform: translate(0, -5px);
}

.colx-5 {
    width: calc((100vw / 4.45 ) - 4vw) !important; 
    padding-left: 0px !important; 
    padding-right: 0px !important; 
    margin-left: 0.5vw !important; 
    margin-right: 0.5vw !important; 
    float: left;
}
.adaptb {
    width: calc((100vw / 5.5 ) - 3vw) !important; 
    margin-left:0.5vw;
    font-size:1.7vw !important;
}
#hide {
    width:0 !important;
    height:0 !important;
}